LabAssignment8/Source/WebProxy/WebContent/wsdl/TodolistService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://experiment6.digvijaykumaryarlagadda.visualstudio.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://experiment6.digvijaykumaryarlagadda.visualstudio.com" xmlns:intf="http://experiment6.digvijaykumaryarlagadda.visualstudio.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://experiment6.digvijaykumaryarlagadda.visualstudio.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="todolist">
    <complexType>
     <sequence>
      <element name="input_your_list_items" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="todolistResponse">
    <complexType>
     <sequence>
      <element name="todolistReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="todolistResponse">

      <wsdl:part element="impl:todolistResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="todolistRequest">

      <wsdl:part element="impl:todolist" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TodolistService">

      <wsdl:operation name="todolist">

         <wsdl:input message="impl:todolistRequest" name="todolistRequest">

       </wsdl:input>

         <wsdl:output message="impl:todolistResponse" name="todolistResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TodolistServiceSoapBinding" type="impl:TodolistService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="todolist">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="todolistRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="todolistResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TodolistServiceService">

      <wsdl:port binding="impl:TodolistServiceSoapBinding" name="TodolistService">

         <wsdlsoap:address location="http://localhost:8080/Experiment_6/services/TodolistService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
